<md-list>
    <md-subheader>DataItems</md-subheader>
    <md-list-item class="md-3-line" ng-repeat="item in device.DataItems.DataItem">
        <dataitem item="item" class="md-list-item-text"></dataitem>
    </md-list-item>
    <md-subheader>Components</md-subheader>
    <md-list-item class="md-3-line" ng-repeat="component in device.Components">
        <div class="md-list-item-text" layout="column">
            <h3>{{component._name || component._id}}</h3>
            <component component="component"></component>
        </div>
    </md-list-item>
    <md-divider></md-divider>
</md-list>