<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Devices">
            <i class="material-icons">devices_other</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="History">
            <i class="material-icons">history</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Notifications">
            <i class="material-icons">notifications</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
            <i class="material-icons">settings</i>
        </md-button>
    </div>
</md-toolbar>
<md-list>
    <md-button ng-click="dataCtrl.fetch()">Fetch Data</md-button>
    <md-grid-list md-padding md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile ng-repeat="item in dataCtrl.dataItems"
        class="mtc-dataitem"
        ng-class="{'mtc-unavailable': item.value==='UNAVAILABLE', 'mtc-normal': item.condition==='Normal', 'mtc-warning': item.condition==='Warning', 'mtc-fault': item.condition==='Fault'}">
            <div layout="column" layout-align="center center">
                <h3 id="{{item.id}}_value">{{item.value || '- - -'}}</h3>
                <small ng-show="{{!!item.units}}">{{item.units}}</small>
                <small ng-show="{{!!item.condition}}">{{item.condition}}</small>
            </div>
            <md-grid-tile-footer layout="column" layout-align="center center">
                <div>{{item.name || item.id}}</div>
                <small><span ng-show="{{!!item.subType}}">{{item.subType}} </span>{{item.type}}</small>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-list>